<h5>notice demo</h5>
<div>下面的demo演示基本的notice组件，notice a使用默认配置项，默认情况下notice显示在组件绑定元素中，notice b同样使用默认配置项，不同的是可以动态改变notice b的header、content、type</div>
<div ms-controller="noticeDemo">
    <div ms-widget="notice,a">基本的提示信息组件，全部使用默认配置项</div>
    <div ms-widget="notice,b,$bOpts">配置了header和content的提示信息，可以动态修改提示信息的content和header，以及提示信息类型，点击对应按钮看看效果哦</div>
    <button ms-click="toggleNotice('a')">toggle notice a</button>
    <button ms-click="toggleNotice('b')">toggle notice b</button>
    <button ms-click="changeHeader('b')">修改notice b的title</button>
    <button ms-click="changeContent('b')">修改notice b的content</button>
    <button ms-click="toggleType('b')">修改notice b的type</button>
</div>