<style >
    .error{
        border:1px  solid red;
    }
    .success{
        border:1px  solid greenyellow;
    }
    .error-tip{
        color: red;
        background:pink;
    }
</style>
<h5>validation组件</h5>
<form ms-controller="validationDemo1" ms-widget="validation">
    <div>简单验证</div>
    <p><input ms-duplex-required="a" placeholder="不能为空"/></p>
    <p><input ms-duplex-int="b"  placeholder="必须输入整数"/></p>
    <p><input ms-duplex-alpha="d" placeholder="必须输入字母"/></p>
    <p><input ms-duplex-phone="g"  placeholder="必须输入手机号码"/></p>
    <button type="submit">submit
    </button>
    <button type="button" ms-click="reset">reset
    </button>
</form>
<br/>
<br/>
<br/>
<hr/>
<form ms-controller="validationDemo2" ms-widget="validation">
    <div>简单验证：使用data-duplex-event="change"，延迟到失去焦点才验证</div>
    <p><input ms-duplex-email="c" data-duplex-event="change"  placeholder="输入电子邮件"/></p>
    <p><input ms-duplex-pattern="g" data-duplex-event="change" pattern="\d{6,8}" placeholder="输入6-8个数字"/></p>
    <p><input ms-duplex-lt="b" min="20"  placeholder="限制数值小于20"></p>
    <p><input ms-duplex-gt="h" max="444"  placeholder="限制数值大于444"></p>
    <p><input ms-duplex-eq="d" data-duplex-eq="4567" placeholder="值必须等于4567"></p>
    <p><input ms-duplex-required-minlength="e" type="password"  id="pw1"  data-duplex-minlength="6" data-duplex-event="change" placeholder="请输入密码"></p>
    <p><input ms-duplex-required-repeat="f" type="password"  data-duplex-repeat="pw1" data-duplex-event="change" data-duplex-message="密码必须一致" placeholder="请重复输入密码"></p>
    <p><select ms-duplex-contains="a" data-duplex-contains="aaa">
        <option value="aaa" >aaa</option>
        <option value="bbb" >bbb</option>
    </select> 必须选择 aaa</p>
    <p><input ms-duplex-norequired-int-gt="n" max="9" placeholder="可以不写,但写时必须大于9"></p>
    <button type="submit">submit
    </button>
    <button type="button" ms-click="reset">reset
    </button>
</form>
<br>
<br>
<br>
<hr>
<form ms-controller="validationDemo3" ms-widget="validation">
    <div>自定义验证规则</div>
    <input  ms-duplex-match12345="a" placeholder="请输入内容">
    <input type="button" value="验证" ms-click="checkAll" />
    <input type="button" value="重置" ms-click="clearAll" />
</form>
<br>
<br>
<br>
<hr>
<form ms-controller="validationDemo4" ms-widget="validation">
    <div>验证dropdown组件</div>
    <p>
        手机号码：<select ms-duplex-phone="g" ms-widget="dropdown,$">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="18600138482">18600138482</option>
        </select>
        <button type="submit">submit
        </button>
        <button type="button" ms-click="reset">reset
        </button>
    </p>
</form>