<h5>dialog</h5>
<div ms-important="dialogDemo">
    <div>最基本的dialog组件（ms-widget="dialog dialogId"）</div>
    <fieldset>
        <legend>基本的dialog组件</legend>
        <button ms-click="show('aa')">打开对话框</button>
        <div ms-widget="dialog,aa,$aaOpts1">
            呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
            <p>{{message}}</p>
            <ul ms-widget="checkboxlist" data-checkboxlist-duplex="check1">
                <li><input type="checkbox" value="1">选项一{{name}}</li>
                <li><input type="checkbox" value="2">选项二{{name}}</li>
                <li><input type="checkbox" value="3">选项三{{name}}</li>
            </ul>
        </div>
    </fieldset>
</div>
<br/>
<hr/>
<div ms-controller="dialogDemo1">
    <div>通过事件接口配置用户的回调操作</div>
    <fieldset>
        <legend>可自定义回调操作的dialog</legend>
        <button ms-click="show('aa1')">打开对话框</button>
        <div ms-widget="dialog,aa1,$aaOpts">
            呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵
        </div>
    </fieldset>
</div>
