/*public  start*/
h1, h2, h3, h4, h5 {
	color: #212121;
	font-size: 16px;
}
ul {
	list-style: none;
}
a {
	cursor: pointer;
	text-decoration: none;
	color: #212121;
}
.wrap {
	margin: 10px;
}
.red {
	color: #ef473a !important;
}
.white {
	color: #fff !important;
}
.grey {
	color: #999 !important;
}
.c333 {
	color: #333 !important;
}
.c666 {
	color: #666 !important;
}
.blue {
	color: #178fe6 !important;
}
.yellow {
	color: #f48b37 !important;
}
.bgGrey {
	background-color: #f0f0f0 !important;
}
.bgC333 {
	background-color: #333 !important;
}
.bgC666 {
	background-color: #666 !important;
}
.bgBlue {
	background-color: #0099e9 !important;
}
.bgGreen {
	background-color: #22a240 !important;
}
.bgYellow {
	background-color: #e28b25 !important;
}
.bgPurple {
	background-color: #ffecec !important;
}
.bgRed {
	background-color: #ef473a !important;
}
.underline {
	text-decoration: underline !important;
}
.underline-no {
	text-decoration: none !important;
}
.margin-top-10 {
	margin-top: 10px !important;
}
.margin-left-10 {
	margin-left: 10px !important;
}
.margin-bottom-0 {
	margin-bottom: 0 !important;
}
.padding-top-10 {
	padding-top: 10px;
}
.line-height-34 {
	line-height: 34px;
}
.indent {
	text-indent: 2em;
}
.indent-no {
	text-indent: 0px !important;
}
.cursor {
	cursor: pointer;
}
.clearfix, .clearfix:before, .clearfix:after {
	clear: both;
}
.word-wrap {
	word-break: break-all !important;
	word-wrap: break-word !important;
}

/*public  end*/

